// ----------------------------------------------------------------------------
// Bottom Nav
// ----------------------------------------------------------------------------

.bottom-nav {
  background-color: $blue;
  padding: space(4) 0;
  // height: 144px;
  background-color: $blue;
  background-image: linear-gradient(90deg, darken($blue, 20%) 0%, darken($blue-dark, 20%));
}

.bottom-nav__item {
  width: 100%;
  float: left;
  padding: 0 space(6);
  height: space(12);
  display: flex;
  align-items: center;

  &--right {
    justify-content: flex-start;
  }

  &--left {
    text-align: left;
    justify-content: flex-end;
  }

  @include bp(xsmall) {
    padding: 0 space(12);
    width: 50%;
    &--right {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    &--left{
      text-align: right;
    }
  }
}

.bottom-nav__inner {
  cursor: pointer;
  color: $white;
}

.bottom-nav__lead {
  display: block;
}

.bottom-nav__title {
  @include typesize(1);
  display: block;
  font-family: $sans-serif;
  text-transform: uppercase;
  transition: border-bottom .2s ease;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $white;
  }

  @include bp(medium) {
    @include typesize(1);
  }
}
